<ion-tabs>
  <ion-tab-bar slot="bottom" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
    <ion-tab-button tab="semana" aria-label="Semana">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="comidas" aria-label="Comidas">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mercado" aria-label="Mercado">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="nevera" aria-label="Nevera">
      <ion-icon name="snow-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="agua" aria-label="Hidratación">
      <ion-icon name="water-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>