<ion-tabs>
  <ion-tab-bar slot="bottom" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
    <ion-tab-button tab="semana">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="comidas">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mercado">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="nevera">
      <ion-icon name="snow-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="agua">
      <ion-icon name="water-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>